<div class="d-flex align-items-center"
     style="min-height: 100vh;"
     data-controller="start">
  <div class="container pt-2 pb-2">
    <h1 class="text-center">pensine</h1>
    <h2 class="text-center">
      <%= t '.subtitle', default: 'explore your memories' %>
    </h2>
    <div class="d-flex justify-content-center">
      <div class="btn btn-primary"
           data-action="click->start#displaySessionForm"
           data-target="start.startButton">Start</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <%= simple_form_for :user, :url => session_path(:user),
          html: {
            class: "d-none",
            data: { target: "start.sessionForm" }
           } do |f| %>
          <%= f.input :email, placeholder: 'albus@pensine.me' %>
          <%= f.input :password, placeholder: '********' %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <div class="form-group d-flex justify-content-center">
            <%= f.submit 'Connect', class: "btn btn-primary" %>
          </div>
          <div>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
          </div>
          <div>
            <%= link_to t('.sign_up', default: 'No account yet?'), '#',
            data: { action: 'click->start#displayRegistrationForm' } %>
          </div>
        <% end %>
      </div>
      <div class="col-10">
        <%= simple_form_for :user, :url => registration_path(:user),
          html: {
            class: "d-none",
            data: { target: "start.registrationForm"}
           } do |f| %>
          <%= f.input :email, placeholder: 'albus@pensine.me' %>
          <%= f.input :password, placeholder: '********' %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <div class="form-group d-flex justify-content-center">
            <%= f.submit 'Connect', class: "btn btn-primary" %>
          </div>
          <%= link_to t('.sign_in', default: 'Already have an account?'), '#',
            data: { action: 'click->start#displaySessionForm' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

